<html>
  <head> </head>

  <body>
    <form method="post" action="/party">
      <label for="box">Enter Name of Political Party</label>
      <input name="box" type="text" />
      <input id="search" type="submit" />
    </form>
    {% if voter_data %}
    <table style="border-collapse: collapse; width: 100%">
      <thead>
        <tr style="background-color: #f2f2f2">
          <th style="border: 1px solid #ddd; padding: 8px">Year</th>
          <th style="border: 1px solid #ddd; padding: 8px">Number of bond</th>
          <th style="border: 1px solid #ddd; padding: 8px">
            Total value of bonds (In rupees)
          </th>
        </tr>
      </thead>
      <tbody>
        {% for result in voter_data %}
        <tr>
          {% for item in result %}
          <td style="border: 1px solid #ddd; padding: 8px">{{item}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <canvas id="myChart"></canvas>
        <div></div>
        <div style="margin-top: 20px"></div>
        <canvas id="myChart"></canvas>
        <a
          href="#"
          download="chart1.png"
          id="downloadButton"
          style="
            display: block;
            margin-top: 10px;
            text-align: center;
            color: #fff;
            background-color: #007bff;
            border: none;
            padding: 8px 8px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
          "
          >Download Chart</a
        >

        <script>
          var years = [];
          var numberOfBonds = [];

          {% for result in voter_data %}
              years.push("{{ result[0] }}");
              numberOfBonds.push("{{ result[2] }}");
          {% endfor %}

          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: years,
                  datasets: [{
                      label: 'Value of Bond',
                      data: numberOfBonds,
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });

          var downloadButton = document.getElementById('downloadButton');
          downloadButton.addEventListener('click', function() {
              var chartImage = myChart.toBase64Image();
              this.href = chartImage;
          });
        </script>
        <div>
          <canvas id="myChart2"></canvas>
        </div>
        <div>
          <canvas id="myChart2"></canvas>
        </div>
        <div>
          <a
            href="#a"
            download="chart.png"
            id="downloadButton2"
            style="
              display: block;
              margin-top: 10px;
              text-align: center;
              color: #fff;
              background-color: #007bff;
              border: none;
              padding: 8px 8px;
              text-decoration: none;
              cursor: pointer;
              border-radius: 4px;
            "
            >Download Chart</a
          >
        </div>
        <script>
          var years = [];
          var numberOfBonds = [];

          {% for result in voter_data %}
              years.push("{{ result[0] }}");
              numberOfBonds.push("{{ result[1] }}");
          {% endfor %}

          var ctx = document.getElementById('myChart2').getContext('2d');
          var myChart2 = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: years,
                  datasets: [{
                      label: 'Number of Bonds',
                      data: numberOfBonds,
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
          var downloadButton2 = document.getElementById('downloadButton2');
          downloadButton2.addEventListener('click', function() {
              var chartImage2 = myChart2.toBase64Image();
              this.href = chartImage2;
          });
        </script>
        {% endif %}
      </tbody>
    </table>
  </body>
</html>
