<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }

      #myChart {
        width: 100%;
        height: 800px;
        margin: 0 auto;
        display: block;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 20px">
      Pie Chart of total fund received by parties (in Crores)
    </h1>
    <canvas id="myChart"></canvas>

    <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      var x = {{voter_data|tojson}};
      var data = {
        labels: x.map((item) => item[0]),
        datasets: [
          {
            data: x.map((item) => item[1] / 10000000),
          },
        ],
      };

      var myChart = new Chart(ctx, {
        type: "pie",
        data: data,
      });

      var downloadButton = document.createElement("button");
      downloadButton.innerHTML = "Download Chart";
      downloadButton.addEventListener("click", function() {
        var link = document.createElement("a");
        link.href = myChart.toBase64Image();
        link.download = "chart.png";
        link.click();
      });
      document.body.appendChild(downloadButton);
    </script>
  </body>
</html>
